* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family:
    "CaskaydiaMono Nerd Font Semibold", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  background: #222630;
  color: #88c0d0;
  font-family:
    CaskaydiaMono Nerd Font,
    feather;
  transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
  background: #191d24;
  margin: 5px 10px;
  padding: 0 5px;
  border-radius: 15px;
}
.modules-left {
  padding: 0;
}
.modules-center {
  padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-notification,
#tray,
#bluetooth,
#custom-expand-icon,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 2 10px;
  border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#custom-notification:hover,
#tray:hover,
#bluetooth:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
  background: #434c5e;
}

#workspaces button {
  background: transparent;
  font-family:
    SpaceMono Nerd Font,
    feather;
  font-weight: 900;
  font-size: 13pt;
  color: #c0caf5;
  border: none;
  border-radius: 15px;
}

#workspaces button.active {
  background: #13131d;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  box-shadow: none;
}

#workspaces-custom {
  background: transparent;
}

#custom-ws-1,
#custom-ws-2,
#custom-ws-3,
#custom-ws-4,
#custom-ws-5,
#custom-ws-6 {
  background: transparent;
  color: #c0caf5;
  padding: 0;
  margin: 2px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 15px;
}

#custom-ws-1.active,
#custom-ws-2.active,
#custom-ws-3.active,
#custom-ws-4.active,
#custom-ws-5.active,
#custom-ws-6.active {
  background: #13131d;
}

#custom-ws-1.focused,
#custom-ws-2.focused,
#custom-ws-3.focused,
#custom-ws-4.focused,
#custom-ws-5.focused,
#custom-ws-6.focused {
  background: #88c0d0;
  color: #191d24;
  font-weight: bold;
}

#custom-ws-1:hover,
#custom-ws-2:hover,
#custom-ws-3:hover,
#custom-ws-4:hover,
#custom-ws-5:hover,
#custom-ws-6:hover {
  background: #434c5e;
  color: #cdd6f4;
}

#custom-ws-1.empty,
#custom-ws-2.empty,
#custom-ws-3.empty,
#custom-ws-4.empty,
#custom-ws-5.empty,
#custom-ws-6.empty {
  color: #6b7280;
}

#window {
  padding: 2 5px;
}

#custom-arch {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 15px;
  transition: color 0.5s;
}
#custom-arch:hover {
  color: #1793d1;
}
